# Shared

## Databases
shared/databases/todoverse.db

# Backends

## Dotnet
backends/dotnet/obj
backends/dotnet/bin
backends/dotnet/Database

## Node
backends/node/node_modules
backends/node/prisma/databases/